body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  html,
  body,
  #root {
    height: 100%;
    background: #0e1129;
  }
  h1{
    font-weight: bold;
    font-size: 70px;
    margin: 0;
    max-width: 500px;

    @media (max-width: 1024px) {
      font-size: 60px;
      max-width: 400px;
    }
    @media (max-width: 800px) {
      font-size: 40px;
      max-width: 300px;
    }
    @media (max-width: 600px) {
      padding-top: 250px;
    }
  }
  
  p{
    font-weight: normal;
    line-height: 150%;
    max-width: 380px;
  }
  
  h1, p, button {
    margin: 0 30px 0 100px;
    @media (max-width: 1024px) {
      margin: 0 30px;
    }
  }
  button {
    background: rgba(0, 0, 0, 0.2);
    font-size: 16px;
    padding: 12px 30px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255,255, 0.1);
    color: white;
    max-width: 280px;
    cursor: pointer;
    backdrop-filter: blur(20px);
    pointer-events: all;
    display: flex;
    gap: 17px;
    justify-content: center;
    align-items: center;

    transition: all 1s ease;
  }
  button:hover{
      border: 1px solid rgba(255, 255, 255, 0.8);
      transform: translateY(-3px);
  }
  li{
    list-style: none;
    margin: 0;
  }
  a{
    text-decoration: none;
    color: white;
    padding: 8px 20px;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: all 1s ease;
    border-radius: 14px;
    pointer-events: all;
  }
  a:hover{
    border: 1px solid rgba( 255, 255, 255, 0.2 );
  }
  .social{
    position: absolute;
 top: 150px;
 left: 30px;
 display: flex;
 flex-direction: column;
 gap: 30px;
 align-items: center
  }
  .social > a{
    border: none;
    transition: none;
  }
  .line{
      width: 1px;
      height: 500px;
      background: linear-gradient(
        180deg,
        #88b6f9 0%,
        #6c56ef 33.57%,
        #1306dd 65.86%,
        #aa0ab2 100%
      );
  }
